.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0;
  }
  
  
  .infected {
    border-bottom: 10px solid rgba(16, 6, 158, 0.5);
    margin: 50%;
    
  }
  
  .recovered{
    border-bottom: 10px solid rgba(0, 221, 0, 0.5);

  }
  
  .deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);

  }